<div class="row mb-4 post">
  <div class="post-header">
    <h2>
      <a class="post-title" href="/post/{{this.id}}/leave-comment">{{this.title}}</a>
    </h2>
    <p>Posted by {{this.user.username}} on {{format_date this.date_created}}</p>
  </div>
  <p>{{this.content}}</p>
</div>