<div>
  <div class="row mb-4 post">
    <div class="post-header">
        <h2>
          {{this.title}}
        </h2>
      <p>Posted by {{this.user.username}} on {{format_date this.date_created}}</p>
    </div>
    <p>{{this.content}}</p>
  </div>
  <div id="comment-section">
      {{!-- generate add comment here --}}
      <div id="comment">
        <form id="create-comment" data-post-id="{{id}}" data-user-id="{{user_id}}">
            <h2>Comment</h2>
            <input type="text" id="comment-text">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
  </div>
</div>

<script src="/js/comment.js"></script>
