<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <div id="comment">
    <form id="create-comment" data-post-id="{{id}}" data-user-id="{{user_id}}">
        <h2>Comment</h2>
        <input type="text" id="comment-text">
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>
