<div class="text-center">
    <p>
        <a href="/post/{{id}}/leave-comment">Leave A Comment</a>
    </p>
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>
  <div id="comment-section">
    {{!-- use a partial to generate all the comments under this post --}}
    {{#each comments as |comment|}}
    {{> all-comments comment}}
    {{/each}}
  </div>
</div>